<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componente-hijo-dos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>Hello [[prop1]]!</h2>
  </template>

  <script>
    /**
     * `componente-hijo-dos`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteHijoDos extends Polymer.Element {
      static get is() { return 'componente-hijo-dos'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'componente-hijo-dos'
          }
        };
      }
    }

    window.customElements.define(ComponenteHijoDos.is, ComponenteHijoDos);
  </script>
</dom-module>
