<link rel="import" href="../polymer/polymer-element.html">

<dom-module id="componente-hijo-dos">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <h2>[[prop1]]</h2>
    <template is="dom-if" if="[[showList]]">
      <h2>Aqui va la lista</h2>
    </template>
    <template is="dom-if" if="[[showTable]]">
      <h2>Aqui va la tabla</h2>
    </template>
  </template>

  <script>
    /**
     * `componente-hijo-dos`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponenteHijoDos extends Polymer.Element {
      static get is() { return 'componente-hijo-dos'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Datos'
          },
          showList: {
            type: Boolean,
            value: false
          },
          showTable: {
            type: Boolean,
            value: false
          }
        };
      }
      _showData(tab) {
        console.log('Entre a _showData(tab) con:', tab);
        if (tab == 1) {
          this.showList = true;
        } else {
          this.showTable = true;
        }
      }
    }

    window.customElements.define(ComponenteHijoDos.is, ComponenteHijoDos);
  </script>
</dom-module>
